<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="day7.demo1.StudentMapper">
    <insert id="insertStudent">
        INSERT INTO stu (id, name, age, gender) VALUES (NULL, #{name}, #{age}, #{gender})
    </insert>
    <select id="selectAllStudent" resultType="day7.demo1.Student">
        SELECT * FROM stu
    </select>
</mapper>